.content {
  background-image: url("../images/perun.JPG");
  background-position: left;
  background-size: cover;
  height: 562px; }
  @media (max-width: 576px) {
    .content {
      width: 100%;
      background-image: url("../images/servicesbg.JPG");
      background-position: center; } }
  .content .about {
    padding: 100px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    @media (max-width: 831px) {
      .content .about {
        padding-top: 75px; } }
    @media (max-width: 576px) {
      .content .about {
        width: 100%;
        padding-top: 85px;
        background-size: cover; } }
    .content .about p {
      padding: 10px;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10%;
      text-align: center;
      width: 40%; }
      @media (max-width: 831px) {
        .content .about p {
          font-size: 17px; } }
      @media (max-width: 576px) {
        .content .about p {
          margin: 0 auto;
          padding: 10px;
          width: 80%;
          font-size: 23px; } }
