.contacts_content {
  background-image: url("../images/servicesbg.JPG");
  background-size: cover;
  background-position: center;
  height: 562px; }

p {
  text-align: left;
  padding: 20px 280px;
  font-size: 35px; }

#form {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin: 0 auto;
  width: 60%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  #form input, #form textarea {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px; }
  #form button {
    padding: 10px;
    color: white;
    background-color: #003300;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 10px;
    outline: none; }
    #form button:hover {
      background-color: #006600; }
