.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row .column {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%; }
    .row .column img {
      vertical-align: middle;
      cursor: pointer; }
      .row .column img:hover {
        opacity: 0.7; }
