@import"variables";
@import "mixins";

.content {
  background-image: url('../images/perun.JPG');
  background-position: left;
  background-size: cover;
  height: 562px;
    @include sm {
    width: 100%;
    background-image: url('../images/servicesbg.jpg');
    background-position: center;
  }
  .about {
    padding: 100px 15px;
    display: flex;
    justify-content: flex-end;
    @include md {
      padding-top: 75px;
    }
      @include sm {
      width: 100%;
      padding-top: 85px;
      background-size: cover;
    }

  p {
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10%;
    text-align: center;
    width: 40%;
    @include md {
      font-size: 17px;
    }
    @include sm {
      margin: 0 auto;
      padding: 10px;
      width: 80%;
      font-size: 23px;
    }
  }
}
}
