.row {
    display: flex;
    flex-wrap: wrap;

    .column {
        flex: 25%;
        max-width: 25%;
       img {
          vertical-align: middle;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
    }
  }
}
