<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
</head>
<body>
  <div class="content">
    <h2>Arthur Perun</h2>
    <h3>Photographer</h3>
    <p>Hi, my name is Arthur Perun, I'm photographer. Nature and faces my main photo passion.
      The photos I take are unusual, creative, they infect with their calmness, peace.
      Each frame is filled with love, originality and unusual ... It is difficult to describe in words, you can only feel it on yourself.
      So start to view. Enjoy and feel each frame, pass it through yourself.</p>
  </div>
</body>
</html>
