<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/about.css">
  <title>About</title>
</head>
<body>
  <div class="content">
    <div class="about">
    <p>Hi, my name is Arthur Perun, I'm photographer. <br/>Nature and faces my main photo passion.<br/>
      The photos I take are unusual, creative,<br/> they infect with their calmness, peace.<br/>
      It is difficult to describe in words,<br/> you can only feel it on yourself.<br/>
      So start to view. Enjoy and feel each frame,<br/> pass it through yourself.</p>
    </div>
  </div>
</body>
</html>
