<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contacts</title>
</head>
<body>
<h2>Contact me</h2>
<form>
  <input type="text" name="name" placeholder="Your name"/>
  <input type="email" name="email" placeholder="Your email"/>
  <textarea name="message" placeholder="Your message" cols="30" rows="10"></textarea>
  <button>Send</button>
</form>
</body>
</html>
