<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/gallery.css">
  <title>Gallery</title>
</head>
<body>
  <div class="row">
    <div class="column">
      <a target="_blank" href=".\images\11.JPG"><img src="images\11.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\17.JPG"><img src=".\images\17.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\14.JPG"><img src=".\images\14.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\6.JPG"><img src=".\images\6.JPG" alt="img" width="100%"></a>
    </div>
    <div class="column">
      <a target="_blank" href=".\images\16.JPG"><img src=".\images\16.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\8.JPG"><img src=".\images\8.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\4.JPG"><img src=".\images\4.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\1.JPG"><img src=".\images\1.JPG" alt="img" width="100%"></a>
    </div>
    <div class="column">
      <a target="_blank" href=".\images\7.JPG"><img src=".\images\7.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\19.JPG"><img src=".\images\19.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\9.JPG"><img src=".\images\9.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\2.JPG"><img src=".\images\2.JPG" alt="img" width="100%"></a>
    </div>
    <div class="column">
      <a target="_blank" href=".\images\10.JPG"><img src=".\images\10.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\15.JPG"><img src=".\images\15.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\3.JPG"><img src=".\images\3.JPG" alt="img" width="100%"></a>
      <a target="_blank" href=".\images\12.JPG"><img src=".\images\12.JPG" alt="img" width="100%"></a>
    </div>
  </div>
</body>
</html>
