<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Services</title>
</head>
<body>
  <h3>Photography services include:</h3>
  <ul>
    <li>Professional camera and lens kits</li>
    <li>Professional lighting setup</li>
    <li>Full-day or half-day photo shoots with all necessary equipment</li>
    <li>Photo editing</li>
    <li>Color correction and retouching</li>
  </ul>
  <ul>
    <li>Portrait photography</li>
    <li>Corporate portrait</li>
    <li>Commercial photography</li>
    <li>Location and architectural photography</li>
    <li>Nature photography</li>
  </ul>
</body>
</html>
