<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/services.css">
  <title>Services</title>
</head>
<body>
  <div class="service-list">
  <p>Photography services include:</p>
  <div class="lists">
    <ul>
      <li><img src="./images/check-mark.png">Professional camera and lens kits</li>
      <li><img src="./images/check-mark.png">Professional lighting setup</li>
      <li><img src="./images/check-mark.png">Full-day or half-day photo shoots with all necessary equipment</li>
      <li><img src="./images/check-mark.png">Photo editing</li>
      <li><img src="./images/check-mark.png">Color correction and retouching</li>
    </ul>
    <ul>
      <li><img src="../images/check-mark.png">Portrait photography</li>
      <li><img src="../images/check-mark.png">Corporate portrait</li>
      <li><img src="../images/check-mark.png">Commercial photography</li>
      <li><img src="../images/check-mark.png">Location and architectural photography</li>
      <li><img src="../images/check-mark.png">Nature photography</li>
    </ul>
</div>
</div>
</body>
</html>
